<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <p>Please stay a while and look around</p>
    <p>Hello <%= locals.userName ?? 'New User!' %></p>
    <% for(let i=0;i<8;i++){ %>
        <p><img width="200" src="book.png" alt="Stack of Magic Books"></p>
    <% } %>
</body>
</html>